* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

body {
  background: #fff7ec;
  color: #333;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background: #ffcad4;
}

.logo {
  font-weight: bold;
}

nav a {
  margin: 0 10px;
  text-decoration: none;
  color: #333;
}

#menu-btn {
  display: none;
}

.hero {
  padding: 60px;
  text-align: center;
  background: #ffe5b4;
}

.btn {
  display: inline-block;
  margin-top: 15px;
  padding: 10px 20px;
  background: #a0c4ff;
  border-radius: 20px;
  text-decoration: none;
  color: black;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 15px;
  padding: 20px;
}

.card {
  background: #caffbf;
  padding: 20px;
  text-align: center;
  border-radius: 15px;
}

.page {
  padding: 30px;
}

.box {
  background: #e0bbff;
  padding: 15px;
  margin: 10px 0;
  border-radius: 10px;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  nav {
    display: none;
  }

  #menu-btn {
    display: block;
  }
}